<a href="https://colab.research.google.com/github/CiaraAOC/frictionless/blob/main/Frictionless.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Setup:

In [14]:
!pip install frictionless #install necessary modules and libraries
import frictionless
import pandas as pd
from pprint import pprint

Requirement already satisfied: frictionless in /usr/local/lib/python3.7/dist-packages (4.14.0)
Requirement already satisfied: isodate>=0.6 in /usr/local/lib/python3.7/dist-packages (from frictionless) (0.6.0)
Requirement already satisfied: validators>=0.18 in /usr/local/lib/python3.7/dist-packages (from frictionless) (0.18.2)
Requirement already satisfied: simpleeval>=0.9 in /usr/local/lib/python3.7/dist-packages (from frictionless) (0.9.10)
Requirement already satisfied: python-dateutil>=2.8 in /usr/local/lib/python3.7/dist-packages (from frictionless) (2.8.1)
Requirement already satisfied: requests>=2.10 in /usr/local/lib/python3.7/dist-packages (from frictionless) (2.23.0)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.7/dist-packages (from frictionless) (5.4.1)
Requirement already satisfied: petl>=1.6 in /usr/local/lib/python3.7/dist-packages (from frictionless) (1.7.4)
Requirement already satisfied: jsonschema>=2.5 in /usr/local/lib/python3.7/dist-packages (from frictionless) (2.6.0)
Requirement already satisfied: chardet>=3.0 in /usr/local/lib/python3.7/dist-packages (from frictionless) (3.0.4)
Requirement already satisfied: stringcase>=1.2 in /usr/local/lib/python3.7/dist-packages (from frictionless) (1.2.0)
Requirement already satisfied: rfc3986>=1.4 in /usr/local/lib/python3.7/dist-packages (from frictionless) (1.5.0)
Requirement already satisfied: typer[all]>=0.3 in /usr/local/lib/python3.7/dist-packages (from frictionless) (0.3.2)
Requirement already satisfied: click<7.2.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from frictionless) (7.1.2)
Requirement already satisfied: python-slugify>=1.2 in /usr/local/lib/python3.7/dist-packages (from frictionless) (5.0.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from isodate>=0.6->frictionless) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify>=1.2->frictionless) (1.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.10->frictionless) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.10->frictionless) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.10->frictionless) (2021.5.30)
Requirement already satisfied: shellingham<2.0.0,>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from typer[all]>=0.3->frictionless) (1.4.0)
Requirement already satisfied: colorama<0.5.0,>=0.4.3 in /usr/local/lib/python3.7/dist-packages (from typer[all]>=0.3->frictionless) (0.4.4)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from validators>=0.18->frictionless) (4.4.2)

In [15]:
import requests
response = requests.get('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/TEA01/CSV/1.0/en')
response.text
print(response.status_code) #prints the status code of the API
#a status code of 200 means the api is working
#if the status code begins with a 4, there is an error

200

In [16]:
df = pd.read_csv("https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/TEA01/CSV/1.0/en") #link to desired website table
print(df)

    STATISTIC                             Statistic  ...    UNIT   VALUE
0       TEA01  Vehicles Licensed for the First Time  ...  Number  206856
1       TEA01  Vehicles Licensed for the First Time  ...  Number  153086
2       TEA01  Vehicles Licensed for the First Time  ...  Number  125818
3       TEA01  Vehicles Licensed for the First Time  ...  Number   18895
4       TEA01  Vehicles Licensed for the First Time  ...  Number    1848
..        ...                                   ...  ...     ...     ...
403     TEA01  Vehicles Licensed for the First Time  ...  Number  101472
404     TEA01  Vehicles Licensed for the First Time  ...  Number   78541
405     TEA01  Vehicles Licensed for the First Time  ...  Number   11753
406     TEA01  Vehicles Licensed for the First Time  ...  Number    2648
407     TEA01  Vehicles Licensed for the First Time  ...  Number    8530

[408 rows x 8 columns]

Describing data:

In [17]:
from frictionless import describe #generates metadata describing layout/contents of data

resource = describe(df)
pprint(resource)

{'data':     STATISTIC                             Statistic  ...    UNIT   VALUE
0       TEA01  Vehicles Licensed for the First Time  ...  Number  206856
1       TEA01  Vehicles Licensed for the First Time  ...  Number  153086
2       TEA01  Vehicles Licensed for the First Time  ...  Number  125818
3       TEA01  Vehicles Licensed for the First Time  ...  Number   18895
4       TEA01  Vehicles Licensed for the First Time  ...  Number    1848
..        ...                                   ...  ...     ...     ...
403     TEA01  Vehicles Licensed for the First Time  ...  Number  101472
404     TEA01  Vehicles Licensed for the First Time  ...  Number   78541
405     TEA01  Vehicles Licensed for the First Time  ...  Number   11753
406     TEA01  Vehicles Licensed for the First Time  ...  Number    2648
407     TEA01  Vehicles Licensed for the First Time  ...  Number    8530

[408 rows x 8 columns],
 'format': 'pandas',
 'hashing': 'md5',
 'name': 'memory',
 'profile': 'tabular-data-resource',
 'schema': {'fields': [{'name': 'STATISTIC', 'type': 'string'},
                       {'name': 'Statistic', 'type': 'string'},
                       {'name': 'TLIST(A1)', 'type': 'integer'},
                       {'name': 'Year', 'type': 'integer'},
                       {'name': 'C02172V02618', 'type': 'string'},
                       {'name': 'Taxation Class', 'type': 'string'},
                       {'name': 'UNIT', 'type': 'string'},
                       {'name': 'VALUE', 'type': 'integer'}]},
 'scheme': ''}

Extracting Data:

In [18]:
from frictionless import extract #read and normalise data

rows = extract(df)
pprint(rows)

[{'C02172V02618': '-',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'All Vehicles',
  'UNIT': 'Number',
  'VALUE': 206856,
  'Year': 1997},
 {'C02172V02618': '01',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'New Vehicles',
  'UNIT': 'Number',
  'VALUE': 153086,
  'Year': 1997},
 {'C02172V02618': '011',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'New Private Cars',
  'UNIT': 'Number',
  'VALUE': 125818,
  'Year': 1997},
 {'C02172V02618': '012',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'New Goods Vehicles',
  'UNIT': 'Number',
  'VALUE': 18895,
  'Year': 1997},
 {'C02172V02618': '013',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'New Tractors',
  'UNIT': 'Number',
  'VALUE': 1848,
  'Year': 1997},
 {'C02172V02618': '014',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'New Motor Cycles',
  'UNIT': 'Number',
  'VALUE': 2717,
  'Year': 1997},
 {'C02172V02618': '015',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'New Exempt Vehicles',
  'UNIT': 'Number',
  'VALUE': 2042,
  'Year': 1997},
 {'C02172V02618': '01601',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'New Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 1051,
  'Year': 1997},
 {'C02172V02618': '016011',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'New Small Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 633,
  'Year': 1997},
 {'C02172V02618': '016012',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'New Large Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 418,
  'Year': 1997},
 {'C02172V02618': '01604',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'New Machines or Contrivances',
  'UNIT': 'Number',
  'VALUE': 636,
  'Year': 1997},
 {'C02172V02618': '01605',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'Other Classes New Other Vehicles',
  'UNIT': 'Number',
  'VALUE': 79,
  'Year': 1997},
 {'C02172V02618': '02',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'Secondhand Vehicles',
  'UNIT': 'Number',
  'VALUE': 53770,
  'Year': 1997},
 {'C02172V02618': '021',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'Secondhand Private Cars',
  'UNIT': 'Number',
  'VALUE': 41554,
  'Year': 1997},
 {'C02172V02618': '022',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'Secondhand Goods Vehicles',
  'UNIT': 'Number',
  'VALUE': 4888,
  'Year': 1997},
 {'C02172V02618': '023',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'Secondhand Tractors',
  'UNIT': 'Number',
  'VALUE': 3065,
  'Year': 1997},
 {'C02172V02618': '024',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1997,
  'Taxation Class': 'Secondhand Other Vehicles',
  'UNIT': 'Number',
  'VALUE': 4263,
  'Year': 1997},
 {'C02172V02618': '-',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'All Vehicles',
  'UNIT': 'Number',
  'VALUE': 225160,
  'Year': 1998},
 {'C02172V02618': '01',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'New Vehicles',
  'UNIT': 'Number',
  'VALUE': 172524,
  'Year': 1998},
 {'C02172V02618': '011',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'New Private Cars',
  'UNIT': 'Number',
  'VALUE': 138538,
  'Year': 1998},
 {'C02172V02618': '012',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'New Goods Vehicles',
  'UNIT': 'Number',
  'VALUE': 23811,
  'Year': 1998},
 {'C02172V02618': '013',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'New Tractors',
  'UNIT': 'Number',
  'VALUE': 2318,
  'Year': 1998},
 {'C02172V02618': '014',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'New Motor Cycles',
  'UNIT': 'Number',
  'VALUE': 3117,
  'Year': 1998},
 {'C02172V02618': '015',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'New Exempt Vehicles',
  'UNIT': 'Number',
  'VALUE': 2481,
  'Year': 1998},
 {'C02172V02618': '01601',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'New Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 1380,
  'Year': 1998},
 {'C02172V02618': '016011',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'New Small Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 991,
  'Year': 1998},
 {'C02172V02618': '016012',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'New Large Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 389,
  'Year': 1998},
 {'C02172V02618': '01604',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'New Machines or Contrivances',
  'UNIT': 'Number',
  'VALUE': 739,
  'Year': 1998},
 {'C02172V02618': '01605',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'Other Classes New Other Vehicles',
  'UNIT': 'Number',
  'VALUE': 140,
  'Year': 1998},
 {'C02172V02618': '02',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'Secondhand Vehicles',
  'UNIT': 'Number',
  'VALUE': 52636,
  'Year': 1998},
 {'C02172V02618': '021',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'Secondhand Private Cars',
  'UNIT': 'Number',
  'VALUE': 39565,
  'Year': 1998},
 {'C02172V02618': '022',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'Secondhand Goods Vehicles',
  'UNIT': 'Number',
  'VALUE': 5388,
  'Year': 1998},
 {'C02172V02618': '023',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'Secondhand Tractors',
  'UNIT': 'Number',
  'VALUE': 3040,
  'Year': 1998},
 {'C02172V02618': '024',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1998,
  'Taxation Class': 'Secondhand Other Vehicles',
  'UNIT': 'Number',
  'VALUE': 4643,
  'Year': 1998},
 {'C02172V02618': '-',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'All Vehicles',
  'UNIT': 'Number',
  'VALUE': 268619,
  'Year': 1999},
 {'C02172V02618': '01',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'New Vehicles',
  'UNIT': 'Number',
  'VALUE': 213600,
  'Year': 1999},
 {'C02172V02618': '011',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'New Private Cars',
  'UNIT': 'Number',
  'VALUE': 170322,
  'Year': 1999},
 {'C02172V02618': '012',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'New Goods Vehicles',
  'UNIT': 'Number',
  'VALUE': 30066,
  'Year': 1999},
 {'C02172V02618': '013',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'New Tractors',
  'UNIT': 'Number',
  'VALUE': 2762,
  'Year': 1999},
 {'C02172V02618': '014',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'New Motor Cycles',
  'UNIT': 'Number',
  'VALUE': 4955,
  'Year': 1999},
 {'C02172V02618': '015',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'New Exempt Vehicles',
  'UNIT': 'Number',
  'VALUE': 2664,
  'Year': 1999},
 {'C02172V02618': '01601',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'New Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 1795,
  'Year': 1999},
 {'C02172V02618': '016011',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'New Small Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 1109,
  'Year': 1999},
 {'C02172V02618': '016012',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'New Large Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 686,
  'Year': 1999},
 {'C02172V02618': '01604',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'New Machines or Contrivances',
  'UNIT': 'Number',
  'VALUE': 709,
  'Year': 1999},
 {'C02172V02618': '01605',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'Other Classes New Other Vehicles',
  'UNIT': 'Number',
  'VALUE': 327,
  'Year': 1999},
 {'C02172V02618': '02',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'Secondhand Vehicles',
  'UNIT': 'Number',
  'VALUE': 55019,
  'Year': 1999},
 {'C02172V02618': '021',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'Secondhand Private Cars',
  'UNIT': 'Number',
  'VALUE': 36878,
  'Year': 1999},
 {'C02172V02618': '022',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'Secondhand Goods Vehicles',
  'UNIT': 'Number',
  'VALUE': 9285,
  'Year': 1999},
 {'C02172V02618': '023',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'Secondhand Tractors',
  'UNIT': 'Number',
  'VALUE': 3332,
  'Year': 1999},
 {'C02172V02618': '024',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 1999,
  'Taxation Class': 'Secondhand Other Vehicles',
  'UNIT': 'Number',
  'VALUE': 5524,
  'Year': 1999},
 {'C02172V02618': '-',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'All Vehicles',
  'UNIT': 'Number',
  'VALUE': 314292,
  'Year': 2000},
 {'C02172V02618': '01',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'New Vehicles',
  'UNIT': 'Number',
  'VALUE': 274990,
  'Year': 2000},
 {'C02172V02618': '011',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'New Private Cars',
  'UNIT': 'Number',
  'VALUE': 225269,
  'Year': 2000},
 {'C02172V02618': '012',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'New Goods Vehicles',
  'UNIT': 'Number',
  'VALUE': 33606,
  'Year': 2000},
 {'C02172V02618': '013',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'New Tractors',
  'UNIT': 'Number',
  'VALUE': 2816,
  'Year': 2000},
 {'C02172V02618': '014',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'New Motor Cycles',
  'UNIT': 'Number',
  'VALUE': 6871,
  'Year': 2000},
 {'C02172V02618': '015',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'New Exempt Vehicles',
  'UNIT': 'Number',
  'VALUE': 3321,
  'Year': 2000},
 {'C02172V02618': '01601',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'New Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 1774,
  'Year': 2000},
 {'C02172V02618': '016011',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'New Small Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 873,
  'Year': 2000},
 {'C02172V02618': '016012',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'New Large Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 901,
  'Year': 2000},
 {'C02172V02618': '01604',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'New Machines or Contrivances',
  'UNIT': 'Number',
  'VALUE': 1003,
  'Year': 2000},
 {'C02172V02618': '01605',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'Other Classes New Other Vehicles',
  'UNIT': 'Number',
  'VALUE': 330,
  'Year': 2000},
 {'C02172V02618': '02',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'Secondhand Vehicles',
  'UNIT': 'Number',
  'VALUE': 39302,
  'Year': 2000},
 {'C02172V02618': '021',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'Secondhand Private Cars',
  'UNIT': 'Number',
  'VALUE': 24003,
  'Year': 2000},
 {'C02172V02618': '022',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'Secondhand Goods Vehicles',
  'UNIT': 'Number',
  'VALUE': 6983,
  'Year': 2000},
 {'C02172V02618': '023',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'Secondhand Tractors',
  'UNIT': 'Number',
  'VALUE': 2786,
  'Year': 2000},
 {'C02172V02618': '024',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2000,
  'Taxation Class': 'Secondhand Other Vehicles',
  'UNIT': 'Number',
  'VALUE': 5530,
  'Year': 2000},
 {'C02172V02618': '-',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'All Vehicles',
  'UNIT': 'Number',
  'VALUE': 236859,
  'Year': 2001},
 {'C02172V02618': '01',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'New Vehicles',
  'UNIT': 'Number',
  'VALUE': 207441,
  'Year': 2001},
 {'C02172V02618': '011',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'New Private Cars',
  'UNIT': 'Number',
  'VALUE': 160908,
  'Year': 2001},
 {'C02172V02618': '012',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'New Goods Vehicles',
  'UNIT': 'Number',
  'VALUE': 30622,
  'Year': 2001},
 {'C02172V02618': '013',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'New Tractors',
  'UNIT': 'Number',
  'VALUE': 2681,
  'Year': 2001},
 {'C02172V02618': '014',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'New Motor Cycles',
  'UNIT': 'Number',
  'VALUE': 6919,
  'Year': 2001},
 {'C02172V02618': '015',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'New Exempt Vehicles',
  'UNIT': 'Number',
  'VALUE': 3709,
  'Year': 2001},
 {'C02172V02618': '01601',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'New Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 1335,
  'Year': 2001},
 {'C02172V02618': '016011',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'New Small Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 843,
  'Year': 2001},
 {'C02172V02618': '016012',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'New Large Public Service Vehicles',
  'UNIT': 'Number',
  'VALUE': 492,
  'Year': 2001},
 {'C02172V02618': '01604',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'New Machines or Contrivances',
  'UNIT': 'Number',
  'VALUE': 938,
  'Year': 2001},
 {'C02172V02618': '01605',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'Other Classes New Other Vehicles',
  'UNIT': 'Number',
  'VALUE': 329,
  'Year': 2001},
 {'C02172V02618': '02',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'Secondhand Vehicles',
  'UNIT': 'Number',
  'VALUE': 29418,
  'Year': 2001},
 {'C02172V02618': '021',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'Secondhand Private Cars',
  'UNIT': 'Number',
  'VALUE': 15237,
  'Year': 2001},
 {'C02172V02618': '022',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'Secondhand Goods Vehicles',
  'UNIT': 'Number',
  'VALUE': 5958,
  'Year': 2001},
 {'C02172V02618': '023',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'Secondhand Tractors',
  'UNIT': 'Number',
  'VALUE': 2447,
  'Year': 2001},
 {'C02172V02618': '024',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2001,
  'Taxation Class': 'Secondhand Other Vehicles',
  'UNIT': 'Number',
  'VALUE': 5776,
  'Year': 2001},
 {'C02172V02618': '-',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2002,
  'Taxation Class': 'All Vehicles',
  'UNIT': 'Number',
  'VALUE': 220847,
  'Year': 2002},
 {'C02172V02618': '01',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2002,
  'Taxation Class': 'New Vehicles',
  'UNIT': 'Number',
  'VALUE': 193743,
  'Year': 2002},
 {'C02172V02618': '011',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2002,
  'Taxation Class': 'New Private Cars',
  'UNIT': 'Number',
  'VALUE': 150485,
  'Year': 2002},
 {'C02172V02618': '012',
  'STATISTIC': 'TEA01',
  'Statistic': 'Vehicles Licensed for the First Time',
  'TLIST(A1)': 2002,
  'Taxation Class': 'New Goods Vehicles',

Validating Data:

In [19]:
from frictionless import validate #detects errors in the file

report = validate(df)
pprint(report.flatten(["rowPosition", "fieldPosition", "code"]))

[]

In [20]:
from frictionless import Resource, FrictionlessException

try:
    resource = Resource(df)
except FrictionlessException as exception:
    pprint(exception.error)
    # Prints the SchemaError metadata in this case

In [21]:
from frictionless import Check, errors

class duplicate_row(Check):
    code = "duplicate-row"
    Errors = [errors.DuplicateRowError]

    def __init__(self, descriptor=None):
        super().__init__(descriptor)
        self.__memory = {}

    def validate_row(self, row):
        text = ",".join(map(str, row.values()))
        hash = hashlib.sha256(text.encode("utf-8")).hexdigest()
        match = self.__memory.get(hash)
        if match:
            note = 'the same as row at position "%s"' % match
            yield errors.DuplicateRowError.from_row(row, note=note)
        self.__memory[hash] = row.row_position

    # Metadata

    metadata_profile = {  # type: ignore
        "type": "object",
        "properties": {},
    }

**Transforming Data:**

In [22]:
from frictionless import Resource
resource = Resource(df)
from frictionless.plugins.excel import ExcelDialect
resource.write(df, dialect=ExcelDialect(sheet='My Table'))

{'data':     STATISTIC                             Statistic  ...    UNIT   VALUE
 0       TEA01  Vehicles Licensed for the First Time  ...  Number  206856
 1       TEA01  Vehicles Licensed for the First Time  ...  Number  153086
 2       TEA01  Vehicles Licensed for the First Time  ...  Number  125818
 3       TEA01  Vehicles Licensed for the First Time  ...  Number   18895
 4       TEA01  Vehicles Licensed for the First Time  ...  Number    1848
 ..        ...                                   ...  ...     ...     ...
 403     TEA01  Vehicles Licensed for the First Time  ...  Number  101472
 404     TEA01  Vehicles Licensed for the First Time  ...  Number   78541
 405     TEA01  Vehicles Licensed for the First Time  ...  Number   11753
 406     TEA01  Vehicles Licensed for the First Time  ...  Number    2648
 407     TEA01  Vehicles Licensed for the First Time  ...  Number    8530

 [408 rows x 8 columns], 'dialect': {'sheet': 'My Table'}}

In [23]:
from frictionless import Resource, transform, steps

# Define source resource
source = Resource(path="https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/TEA01/CSV/1.0/en")

# Apply transform steps
target = transform(
    source,
    steps=[
        steps.table_normalize()
    ],
)

# Print resulting schema and data
pprint(target.schema)

{}

In [26]:
from frictionless import Parser

class HtmlParser(Parser):
    requires_loader = True
    supported_types = [
        "string",
    ]

    # Read

    def read_list_stream_create(self):
        pq = helpers.import_from_plugin("pyquery", plugin="html").PyQuery
        dialect = self.resource.dialect

        # Get Page content
        page = pq(self.loader.text_stream.read(), parser="html")

        # Find required table
        if dialect.selector:
            table = pq(page.find(dialect.selector)[0])
        else:
            table = page

        # Stream headers
        data = (
            table.children("thead").children("tr")
            + table.children("thead")
            + table.children("tr")
            + table.children("tbody").children("tr")
        )
        data = [pq(r) for r in data if len(r) > 0]
        first_row = data.pop(0)
        headers = [pq(th).text() for th in first_row.find("th,td")]
        yield headers

        # Stream data
        data = [pq(tr).find("td") for tr in data]
        data = [[pq(td).text() for td in tr] for tr in data if len(tr) > 0]
        yield from data

    # Write

    def write_row_stream(self, resource):
        source = resource
        target = self.resource
        html = "<html><body><table>\n"
        with source:
            for row in source.row_stream:
                if row.row_number == 1:
                    html += "<tr>"
                    for name in row.field_names:
                        html += f"<td>{name}</td>"
                    html += "</tr>\n"
                cells = row.to_list(types=self.supported_types)
                html += "<tr>"
                for cell in cells:
                    html += f"<td>{cell}</td>"
                html += "</tr>\n"
        html += "</table></body></html>"
        with tempfile.NamedTemporaryFile("wt", delete=False) as file:
            file.write(html)
        loader = system.create_loader(target)
        result = loader.write_byte_stream(file.name)
        return result

In [27]:
from frictionless import Dialect, Metadata

class HtmlDialect(Dialect):

    def __init__(self, descriptor=None, *, selector=None):
        self.setinitial("selector", selector)
        super().__init__(descriptor)

    @Metadata.property
    def selector(self):
        """
        Returns:
            str: selector
        """
        return self.get("selector", "table")

    # Expand

    def expand(self):
        """Expand metadata"""
        self.setdefault("selector", self.selector)

    # Metadata

    metadata_profile = {  # type: ignore
        "type": "object",
        "additionalProperties": False,
        "properties": {
            "selector": {"type": "string"},
        },
    }